:not(not) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

page {
  font-size: 24rpx;
}

button {
  font-size: inherit;
  line-height: 2;
  background: none;
  border: 0;

  &::after {
    display: none;
  }
}

label {
  display: block;
}

.status-bar {
  height: var(--status-bar-height);
}

.full {
  width: 100%;
  height: 100%;
}

.b-line {
  position: relative;
  color: var(--bline-color, var(--color));

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: var(--bline-color, var(--color));
  }
}

.rel {
  position: relative;
}

.none {
  display: none !important;
}

.page-content {
  padding: 30rpx;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

/* =============== Start flex =============== */
.flex {
  display: flex;
}

.fill {
  flex: 1;
}

.col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-cer {
  align-items: center;
  justify-content: center;
}

.flex-ai-cer {
  align-items: center;
}

.flex-ai-start {
  align-items: flex-start;
}

.flex-ai-end {
  align-items: flex-end;
}

.flex-baseline {
  align-items: baseline;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-cer {
  justify-content: center;
}

.flex-jc-start {
  justify-content: flex-start;
}

.flex-jc-end {
  justify-content: flex-end;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-se {
  justify-content: space-evenly;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.imgbg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button-hover,
.btn {
  opacity: 0.5;
}

.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--limit, 1);
}

@for $num from 2 to 6 {
  .limit#{$num} {
    @extend .limit;
    --limit: #{$num};
  }
}

.avatar {
  $size: 120rpx;
  width: var(--size, $size);
  height: var(--size, $size);
  border-radius: 50%;
  overflow: hidden;
}

.theme-color {
  color: $theme-color;
  --color: #{$theme-color};
}

.theme-bg {
  background: $theme-color;
}

.bg-white {
  background: #fff;
}

.fc-white {
  color: white;
  --color: #fff;
}

.fc-black {
  color: black;
  --color: black;
}

.circle-border {
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.icon {
  width: 1em;
  height: 1em;
}

.width-auto {
  width: auto;
}

.height-auto {
  height: auto;
}

@for $number from 1 through 500 {
  .w-#{$number} {
    width: $number * 1rpx;
  }

  .h-#{$number} {
    height: $number * 1rpx;
  }

  .size-#{$number} {
    width: $number * 1rpx;
    height: $number * 1rpx;
  }

  @if $number <= 100 {
    .width-#{$number} {
      width: $number * 1%;
    }

    .height-#{$number} {
      height: $number * 1%;
    }
  }

  @if $number < 100 {
    .scale-#{$number} {
      transform: scale(0.01 * $number);
    }
  }
}

@for $number from 1 through 120 {
  .gap-#{$number} {
    display: flex;
    gap: #{$number}rpx;
  }

  .mt-#{$number} {
    margin-top: #{$number}rpx;
  }

  .mb-#{$number} {
    margin-bottom: #{$number}rpx;
  }

  .ml-#{$number} {
    margin-left: #{$number}rpx;
  }

  .mr-#{$number} {
    margin-right: #{$number}rpx;
  }

  .mlr-#{$number} {
    margin-left: #{$number}rpx;
    margin-right: #{$number}rpx;
  }

  .mtb-#{$number} {
    margin-top: #{$number}rpx;
    margin-bottom: #{$number}rpx;
  }

  .pd-#{$number} {
    padding: $number * 1rpx;
  }

  .pdl-#{$number} {
    padding-left: $number * 1rpx;
  }

  .pdr-#{$number} {
    padding-right: $number * 1rpx;
  }
  .pdt-#{$number} {
    padding-top: $number * 1rpx;
  }
  .pdb-#{$number} {
    padding-bottom: $number * 1rpx;
  }

  .pdlr-#{$number} {
    padding-left: $number * 1rpx;
    padding-right: $number * 1rpx;
  }

  .pdtb-#{$number} {
    padding-top: $number * 1rpx;
    padding-bottom: $number * 1rpx;
  }

  @if $number > 16 {
    .fs-#{$number} {
      font-size: #{$number}rpx;
    }
  }

  @if $number < 60 {
    .ra-#{$number} {
      border-radius: #{$number}rpx;
    }

    .rat-#{$number} {
      border-top-left-radius: #{$number}rpx;
      border-top-right-radius: #{$number}rpx;
    }

    .rab-#{$number} {
      border-bottom-left-radius: #{$number}rpx;
      border-bottom-right-radius: #{$number}rpx;
    }

    .ratl-#{$number} {
      border-top-left-radius: #{$number}rpx;
    }

    .ratr-#{$number} {
      border-top-right-radius: #{$number}rpx;
    }

    .rabl-#{$number} {
      border-bottom-left-radius: #{$number}rpx;
    }

    .rabr-#{$number} {
      border-bottom-right-radius: #{$number}rpx;
    }
  }

  @if $number < 4 {
    .bw-#{$number} {
      border-width: #{$number}px;
    }
  }

  @if $number < 10 {
    .opacity-0#{$number} {
      opacity: 0.1 * $number;
    }
  }

  @if $number <= 20 {
    .lh-#{$number} {
      line-height: 1 + $number * 0.1;
    }
  }
}
